@model Brindar.Models.Servicios

@{
    ViewBag.Title = "Crear Servicio";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="container" id="mainContainer">
        <div class="form-block col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
            <h3>@ViewBag.Title</h3>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Categoria, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Categoria, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="text-center">
                <input type="submit" value="Crear Servicio" class="btn btn-default" />
            </div>
        </div>
    </div>
}