@using Brindar.Logica.Modelo;
@{
   List<Servicios> Servicios = ViewData["Servicios"] as List<Servicios>;
   List<Salones> Salones = ViewData["Salones"] as List<Salones>;
}

<h1>Servicios</h1>

<div class="row">
    <a class="btn btn-floating btn-large pulse right blue darken-2" href="/Usuario/AltaServicio"><i class="material-icons">+ Nuevo Servicio</i></a>
</div>

<table class="highlight">
    <tr>
        <th>Id</th>
        <th>Categoria</th>
        <th>precio</th>
    </tr>
    @foreach (var s in Servicios)
        {
        <tr>
            <td>
                @s.IdServicio
            </td>
            <td>
                @s.Categorias.Descripcion
            </td>
            <td>
                @s.Precio
            </td>
            <td>
                <a href="/Usuario/EditarServicio?id=@s.IdServicio">Editar</a>
                <a class="red-text darken-1 borrar" href="/Usuario/EliminarServicio?id=@s.IdServicio">Eliminar</a>
                
            </td>
        </tr>
        }
</table>

<h1>Salones</h1>
<div class="row">
    <a class="btn btn-floating btn-large pulse right blue darken-2" href="/Usuario/AltaSalon"><i class="material-icons">+ Nuevo Salon</i></a>
</div>

<table class="highlight">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Telefono</th>
        <th>Localidad</th>
        <th>Dirección</th>
        <th>Facebook</th>
        <th>Página Web</th>
    </tr>
    @foreach (var sa in Salones)
        {
        <tr>
            <td>
                @sa.IdSalon
            </td>
            <td>
                @sa.Nombre
            </td>
            <td>
                @sa.Precio
            </td>
            <td>
                @sa.Telefono
            </td>
            <td>
                @sa.Localidades.Descripcion
            </td>
            <td>
                @sa.Direccion
            </td>
            <td>
                @sa.URLFacebook
            </td>
            <td>
                @sa.URLPagina
            </td>
            <td>
                <a href="/Usuario/EditarSalon?id=@sa.IdSalon">Editar</a>
                <a class="red-text darken-1 borrar" href="/Usuario/EliminarSalon?id=@sa.IdSalon">Eliminar</a>
            </td>
        </tr>
        }
</table>